/* css recet 样式重置 */
* {
    margin: 0;
    padding: 0;
    outline: 0;/*轮廓 */
}
/*css 继承*/
html,body {
    height: 100%;
    /* width: ; */
}
body{
    background-color: #373737;
}
.page {

}
.page__hd {
    padding: 40px;

}
.page__title {
    text-align: left;
    font-size: 40px;
    font-weight: 400;
    color: rgba(255,255,255,0.8);
}
.page__desc {
    margin-top: 4px;
    color: rgba(255,255,255,0.6);
    text-align: left;
    font-size: 14px;
}
.page__bd {

}
.button-sp-area {
    margin: 15px auto;
    padding: 15px;
    text-align: center;
}
/* .antd 当前项目或者公司 
    微信
    */

.weui-btn {
    display: block;
    width: 184px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 24px;
    font-weight: 700;
    font-size: 17px;
    text-align: center;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    line-height: 1.88235294; /*相对于font-size*/
}

.weui-btn_primary {
    background-color: green;
}

.weui-btn_default {
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(255, 255, 255, 0.08);
}
/* 兄弟选择器 */
.weui-btn+.weui-btn {
    margin-top: 10px;
}
.weui-btn_disable {
    background-color: rgba(255, 255, 255, 0.8);
    color: rgba(0,0,0,0.2);
    /* cursor: not-allowed; */
}